<table class="table table-striped">
    <thead>
       <tr><td>#</td><td>Name</td></tr> 
    </thead>
    <tbody>
        <tr data-toggle="collapse" data-target="#group_1_l">
            <td>0</td><td>Test Groep</td>
        </tr>
        <tr class="hiddenRow"><td colspan="2">
            <div id="group_1_l" class="accordian-body collapse">
                <table class="table table-striped">
                    <thead>
                        <tr><td>#</td><td>Name</td><td>State</td><td>Color</td></tr>
                    </thead>
                    <tbody>
                        <tr><td>1</td><td>Test lamp</td><td>1</td><td>0</td></tr>
                        <tr><td>2</td><td>Test lamp 2</td><td>1</td><td>0</td></tr>
                        <tr><td>3</td><td>Test lamp 3</td><td>1</td><td>0</td></tr>
                    </tbody>
                </table>
            </div>
        </td>
        </tr>
        <tr data-toggle="collapse" data-target="#group_2_l">
            <td>1</td><td>Empty test group</td>
        </tr>
        <tr class="hiddenRow"><td colspan="2">
            <div id="group_2_l" class="accordian-body collapse">
                <table class="table table-striped">
                        <tr><td>#</td><td>Name</td><td>State</td><td>Color</td></tr> 
                </table>
            </div>
        </td></tr>
    </tbody>
</table>

<script type="text/javascript">
    var groups = new aur.Groups(refresh);

    function refresh(data, th) {
        console.log(data);
    }
</script>