

  <h1>Lights</h1>
  <table id="lightsTable" class="table table-striped">
    <thead>
      <tr><td>#</td><td>Name</td><td id="allState"><span class="glyphicon glyphicon-certificate clickable"></span>/<span class="glyphicon glyphicon-record clickable"></span></td><td id="allColor" class="clickable">Color</td></tr>
    </thead>
    <tbody>
      
    </tbody>
  </table>

<script type="text/javascript">
(function($aur) {
  /* globals $aur */
  var lights = $aur.globals.lights;
  var groups = $aur.globals.groups;
  var picker = $aur.globals.picker;

  $aur.lights.setDisplay("#lightsTable tbody");
  
})($aur);
</script>