
<div class="modal fade bs-modal-sm" id="colorpicker" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-sm">
    <div class="modal-content" style="width: auto;">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title" id="myModalLabel">Color Picker</h4>
      </div>
      <div class="modal-body">
        <!-- <div class-"btn-group">
            <button type="button" id="hslBut" class="btn btn-default">HSL</button>
            <button type="button" id="xyBut" class="btn btn-default">XY</button>
        </div> -->
        <div class="picker"></div>

      </div>
    </div>
  </div>
</div>

{% block scripts %}
{{super()}}
<script src="{{url_for('static', filename='colorPicker.js')}}" type="text/javascript"></script>
<script src="{{url_for('static', filename='colorPickers.js')}}" type="text/javascript"></script>
<script type="text/javascript">
    var cps = new ColorPickers($("#colorpicker .modal-body"));
</script>
{% endblock %}