{% extends "bootstrap/base.html" %}
{% import "bootstrap/fixes.html" as fixes %}
{% set menuItems = [
    ("views.lights", "Lights"),
    ("views.groups", "Groups"),
    ("views.scenes", "Scenes"),
    ("views.settings", "Settings"),
    ("views.debug", "Debug")
] %}

{% block title %}
Aurora - {% block pageTitle %}{% endblock pageTitle %}
{% endblock %}

{% block styles %}
<link href="{{ url_for('static', filename='bootstrap/css/bootstrap.min.css')}}" rel="stylesheet" type="text/css" />
<link href="{{ url_for('static', filename='style.css')}}" rel="stylesheet" type="text/css" />
{% endblock %}

{% block scripts %}
<!-- Libs -->
<script src="{{ url_for('static', filename='crypto/hmac-md5.js') }}" type="text/javascript"></script>
<script src="{{ url_for('static', filename='crypto/sha256.js') }}" type="text/javascript"></script>
<script src="{{ url_for('static', filename='jquery.min.js') }}" type="text/javascript"></script>
<script src="{{ url_for('static', filename='bootstrap/js/bootstrap.min.js') }}" type="text/javascript"></script>

<script src="{{ url_for('static', filename='fixes.js') }}" type="text/javascript"></script>

<!-- Aur Libs -->
<script src="{{url_for('static', filename='js/base.js')}}" type="text/javascript"></script>
<script src="{{url_for('static', filename='js/Const.js')}}" type="text/javascript"></script>
<script src="{{url_for('static', filename='js/user.js')}}" type="text/javascript"></script>
<script type="text/javascript">
    {% block scriptInit %}
    {% endblock %}
</script>

<!-- Init -->
<script src="{{ url_for('static', filename='js/async.js') }}" type="text/javascript"></script>
{% endblock %}

{% block navbar %}
<nav id="mainNav" class="navbar navbar-default" role="navigation">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="#">Aurora</a>
    </div>
    <p class="navbar-text navbar-right">Signed in as <a href="#" id="usernameLabel" class="navbar-link"></a>, <a href="javascript: $aur.logout();">logout</a></p>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
          {% for item in menuItems %}
            {% set active = "active" if request.endpoint == item[0] else "" %}
            <li class="{{active}}"><a href="{{url_for(item[0])}}">{{item[1]}}</a></li>
            
          {% endfor %}
        </ul>
      </div>
  </div>
</nav>
{% endblock %}

{% block content %}
<div id="container" class="container">
{% block text %}{% endblock %}
</div>

<div class="modal fade bs-modal-sm" id="colorpicker" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-sm">
    <div class="modal-content" style="width: auto;">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title" id="myModalLabel">Color Picker</h4>
      </div>
      <div class="modal-body">

      </div>
    </div>
  </div>
</div>

{% endblock %}

